@media screen and (min-width:1366px) {

 #storeBox {padding-top: 70px; height:1030px;}
 #storeBox > h2 {font-size:2rem;}
 #storeBox > p {overflow: hidden; width: 0; height: 0; display: block;}
 .store_li {display: none;}
 

 #storeBox > form {position:absolute; background-color:rgba(255,
255,255,0.7); top:50%; left:8%; margin-top:-350px; 
width: 895px; height: 770px; box-sizing:border-box; padding:30px;}


.store_field {height:120px; margin-top: 30px;}

.store_field select {font-size:20px; }

.brand_box, .store_box {width:100%; height:40px; margin-top: 20px;}
.area_box, .city_box {width:370px; height:40px; float: left; margin-top: 20px;}

.city_box {margin-left:94px;}

#keyword {width:100%; height:40px; font-size: 20px;}
.keyword_box {margin-top:20px;}

.search_btn {bottom: 60px; width: 140px; height: 50px; margin-left:-70px;
font-size: 20px;}

}