@media screen and (min-width:481px) and (max-width:768px) {

  #storeBox {padding-top:30px; height: 408px;}
  #storeBox > form {display: none;}
  #storeBox > h2 > span {overflow: hidden; width: 0; height: 0; display: block;}

  #storeBox {background-image:url("../../../../../img/storeBox/store_mob_bg.jpg"); background-repeat: no-repeat; background-size:contain;}
}