@media screen and (min-width:481px) and (max-width:768px) {

  #storeBox {padding-top:30px; height: 408px;}
  #storeBox > form {display: none;}
  #storeBox > p {position:absolute; top:8rem; left:10%; width: 250px; height: auto; font-size: 18px; line-height:30px;}

  .store_li {position:absolute; bottom:4rem; left:10%; width: 260px; height: 30px;}
  .store_li > li {float: left; margin-right: 20px;width: 120px; height: 100%; text-align:center; line-height:30px;}

  .store_li > li:first-child {background-color:#444;}
  .store_li > li:first-child > a {color:#fff;}

  .store_li > li:last-child {margin-right: 0; box-sizing:border-box; border:1px solid #000;}
  
  .store_li > li > a {display: block; width: 100%; height: 100%;}

}