
@media screen and (min-width:1366px) {

  #headBox {padding-top:10px; width: 100%; height:auto; position:relative;}

  #headBox > h1 {margin: auto; margin-bottom: 10px; width: 300px; height: 80px;}
  #headBox > h1 > a {display: block; width: 100%; height: 100%;}

  .gnb_wrap {width:100%; height:60px; border-top:1px solid #ddd; border-bottom:1px solid #0080e6; top:0; left:0; background-color:#fff;}
  

  .gnb_btn {display: none;}

  .gnb {width:65%; height:auto; position: relative; margin: auto;}
  .gnb_a {display: none; width: 110%; margin-left:-5%; height: 200px; background-color:rgba(255,255,255,0.8); position: absolute; top: 61px; left: 0; z-index: -100;
    }

  .gnb > ul {width:100%; height:auto; position:absolute;}
  .gnb > ul > li {width:13%; height: auto; float: left; margin-right:4%; text-align: center; line-height:60px;}
  /*.gnb > ul > li:first-child {width: 12%;}*/

  .gnb > ul > li:last-child{margin-right: 0;}


  .gnb > ul > li > a {display: block; width: 100%; height: 100%;
    font-size:18px; color:#444;}
  .gnb > ul > li > a:focus,
  .gnb > ul > li > a:hover {color:#0080e6;}
  

  .gnb_menu {padding:20px 0; display: none;}
  .gnb_menu > li {width:100%; height: 40px; margin-bottom: 20px;}
  .gnb_menu > li:last-child {margin-bottom: 0;}

  .gnb_menu > li > a {display: block; width: 100%; height: 100%; color:#666;}

  .gnb_menu > li > a:focus,
  .gnb_menu > li > a:hover{text-decoration:underline; color:#000;}

  /*unb*/

  .unb{width:auto; height:30px; position:absolute; bottom:16px; right:10px;}

  .language {float:left; width:30px; height:100%; margin-right:20px;}
  .language > a {display: block; width: 100%; height: 100%;}
  .join_us {float:left; width:30px; height:100%; margin-right:20px;}
  .join_us > a {display: block; width: 100%; height: 100%;}
  .shopping_mall {float:left; width:30px; height:100%;}

  /*language list*/

  .language_li {margin-top: 30px; display: none;}

}