@media screen and (min-width:769px) and (max-width:1366px){

  #headBox {padding-top:30px; width: 100%; height:auto;}
  
  #headBox > h1 {margin: auto; width: 300px; height:80px;}
  #headBox > h1 > a {display: block; width: 100%; height: 100%;}

  .gnb_wrap {width:100%; height: auto; padding-top:20px;}
  .gnb_btn {display: none;}

  .gnb {width:100%; height:auto; position:relative;}
  .gnb_a {display: none; width: 110%; margin-left: -5%; height:160px; background-color:rgba(189,234,254,0.6); position: absolute; top: 40px; left: 0; z-index: -100;
    /*box-shadow:0.4rem 0 0.7rem rgba(0,0,0,0.3) inset;*/}


  .gnb > ul {width:100%; height:100%;}
  .gnb > ul > li {width: 13%; height: 100%; float: left; margin-right:3%; text-align: center; line-height:30px;}

  .gnb > ul > li:first-child{margin-left:3%;}
  .gnb > ul > li:last-child{margin-right: 0;}
  

  .gnb > ul > li > a {display: block; width: 100%; height: 100%; font-size:20px;}
  .gnb > ul > li > a:focus,
  .gnb > ul > li > a:hover {color:#0080e6;}


  .gnb_menu {padding:20px 0; display: none;}
  .gnb_menu > li {width:100%; height: 30px; margin-bottom: 20px;}
  .gnb_menu > li:last-child {margin-bottom: 0;}

  .gnb_menu > li > a {display: block; width:auto; height: 100%; text-align:center; line-height:30px;}
  .gnb_menu > li > a:focus,
  .gnb_menu > li > a:hover{text-decoration:underline; color:#000;}

  
  /*unb*/

  .unb{width:auto; height: 30px; top:20px; text-align:center; line-height:30px;}

  .language {position:relative; width: 70px; height: 100%; margin-right:20px;}
  .language:after {content:" "; display: block; position:absolute;top:50%; margin-top:-7px; right:0; width: 14px; height: 14px; background-image:url("../../../../../img/triangle.svg"); background-repeat: no-repeat; background-size: 100%; 
    cursor: pointer;}
    
  .join_us {width: 60px; height: 100%;margin-right:20px;}
  .shopping_mall {float: left; width: 80px; height: 100%;}

}


@media screen and (min-width:769px) and (max-width:990px){
  .gnb > ul > li > a {font-size:16px;}
  .unb{font-size:14px;}
  .language{width: 70px; margin-right:8px;}
  .join_us{width: 50px; margin-right:8px;}
  .shopping_mall{width: 70px;}

  .gnb_menu {font-size: 13px;}
}