@media screen and (min-width:769px) and (max-width:1366px){

  #headBox {padding-top:30px; width: 100%; height:auto;}
  
  #headBox > h1 {margin: auto; width: 300px; height:80px;}
  #headBox > h1 > a {display: block; width: 100%; height: 100%;}

  .gnb_wrap {width:100%; height:60px; margin-top:10px; border-top:1px solid #ddd; border-bottom:1px solid #0080e6;}
  .gnb_btn {display: none;}

  .gnb {width:70%; height:auto; position:relative; margin: auto;}
  .gnb_a {display: none; width: 110%; margin-left: -5%; height:160px; background-color:rgba(255,255,255,0.6); position: absolute; top: 60px; left: 0; z-index: -100;}


  .gnb > ul {width:100%; height:auto;}
  .gnb > ul > li {width: 14%; height:auto; float: left; margin-right:2%; text-align: center; line-height:60px;}

  .gnb > ul > li:last-child{margin-right: 0;}
  

  .gnb > ul > li > a {display: block; width: 100%; height:auto; font-size:16px;}
  .gnb > ul > li > a:focus,
  .gnb > ul > li > a:hover {color:#0080e6;}


  .gnb_menu {padding:20px 0; display: none;}
  .gnb_menu > li {width:100%; height:auto; margin-bottom: 20px;}
  .gnb_menu > li:last-child {margin-bottom: 0;}

  .gnb_menu > li > a {display: block; width:auto; height: 100%; text-align:center; line-height:30px; font-size:14px;}
  .gnb_menu > li > a:focus,
  .gnb_menu > li > a:hover{text-decoration:underline; color:#000;}

  
  /*unb*/

  .unb{width:auto; height:30px; position:absolute; bottom:8%; right:10px;}

  .language {float:left; width:30px; height:100%; margin-right:20px;}
  .join_us {float:left; width:30px; height:100%; margin-right:20px;}
  .shopping_mall {float:left; width:30px; height:100%;}


}


@media screen and (min-width:769px) and (max-width:990px){
  .gnb > ul > li > a {font-size:14px;}

  .unb {bottom:6%;}

  .language{width:22px; height: 22px; margin-right:10px;}
  .join_us{width:22px; height: 22px; margin-right:10px;}
  .shopping_mall{width:22px; height: 22px;}

  .gnb_menu {font-size: 13px;}

}