/*ceo_pc.css*/
@media screen and (min-width:769px) and (max-width:1366px){ 

#ceoBox {height:auto; padding-top:320px;}


.about_li_wrap {width: 100%; height: 60px; background-color:#fff; position:fixed; top:160px; left: 0; padding:50px 0;}
.about_li {width:68.814056vw; /*940/1366*100*/ min-width:750px; 
  height: 52px; margin: auto;}

.about_li > li {width: 20%; height: 100%; background-color:#fff; box-sizing: border-box; border:1px solid #aaa; float: left;}
.about_li > li.active {background-color:#0080e6;}
.about_li > li.active > a {color:#fff;}

.about_li > li > a {display: block; width: 100%; height: 100%; text-align:center; line-height:52px;}
.about_li > li > a:hover,
.about_li > li > a:focus { background-color:#0080e6; color:#fff;}

/*ceo_area*/
.ceo_area {width:62.225476vw; min-width:750px; height: 480px; margin: auto; box-sizing:border-box; padding:0.5rem;}


.ceo_area > h3 {width: 210px; height: 40px; background-color:#fff; margin: auto; text-align:center; line-height:40px; font-size:22px;}
.ceo_img {width:260px; height: 382px; background-size:auto 100%; margin-top: 30px; float: left;}

.ceo_text {width:36.603221vw;/*500px*/ min-width:380px; height: 350px; float: left; margin-top: 70px; margin-left:2rem;}
.ceo_text > dt {width: 100%; height:60px; font-size: 20px; box-sizing:border-box; padding-left:5rem; text-indent:-5rem;}
.ceo_text > dt > strong{font-size:22px;} 
.ceo_text > dd {width: 100%; height:auto; margin-top:50px; color:#666;}

/*intro_area*/
.intro_area {width:750px; height: 1020px; margin: auto; margin-top:40px; opacity:0; transform:translate(0, 300px); transition:all 500ms linear 400ms;}
.intro_area > h3{width: 320px; height: 60px; font-size:22px; text-align:center; line-height:60px; margin: auto; margin-bottom: 20px;}
.intro_area.ani {opacity:1; transform:translate(0);}


.intro_li {width:100%; height:auto; margin: auto; padding-top:40px;}
.intro_li_1 {width:59.297218vw;/*810px*/ min-width:700px; height: 340px;
  margin:auto;}
.intro {float: left; height: 100%; text-align:center;}
  .hope {width:23%; margin-right: 12%;}
  .customer {width:27%; margin-right: 11%;}
  .love {width:27%;}

.img{width:13.103953vw; /*179/1366*100*/ height:13.103953vw; 
  min-width:150px; min-height:150px; border-radius: 100%; 
  margin:auto; background-repeat:no-repeat; background-position:center;}

.hope_img {background-image:url("../../../../../img/aboutBox/hope.jpg");
background-size:130%}
.customer_img {background-image:url("../../../../../img/aboutBox/customer.jpg"); background-size:180%}
.love_img {background-image:url("../../../../../img/aboutBox/love.jpg");
background-size:150%}

.intro > dt {margin: auto; margin-top:30px; width: 100%; height: 40px;} 
.intro > dd {margin: auto; width: 100%; height: 60px;}



.intro_li_2 {width:100%; height: 450px; margin-top:60px;}

.intro_li_2 > dl {width:33.333333%; height: 50%; border:1px solid #000;
box-sizing:border-box; float: left;}
.intro_li_2 > dl > dt {width: 100%; height:auto; text-align:center; color:#ff9000; margin-top:10%; font-size:20px; }
.intro_li_2 > dl > dd {width:100%; height: 65%; margin: auto; box-sizing:border-box; padding:1rem; color:#444;}

}