@media screen and (min-width:769px) and (max-width:1366px){

  #aboutBox{padding:1rem; height:780px; background-color:#fff;}
  
  .about_title {padding-top: 3rem; height: 190px;}
  .about_title > h2{height: 2.5rem; font-size:1.5rem; }
  .about_title > p{height: 6.25rem; margin-top: 1.875rem; font-size:1.125rem;}
  

  .about_content {margin: auto; width:728px; height: 440px;}

  .about_content > ul { position:relative; width: 100%; height:auto;}

  .content_1{position:absolute; width: 270px; height:420px; top:50%; left:50%; margin-top:-190px;
    margin-left: -135px; background-image:
    url("../../../../../img/aboutBox/company_p.png");}
  .content_2{float: left; margin-top: 45px; width: 230px; height: 330px; background-image:
    url("../../../../../img/aboutBox/vision_p.png");}
  .content_3{float: right; margin-top: 45px; width: 230px; height: 330px; background-image:
    url("../../../../../img/aboutBox/history_p.png");}
}