@media screen and (min-width:481px) and (max-width:768px){

  #mapBox {width: 100%; height:670px; box-sizing:border-box; padding:1.5rem; 
    padding-top: 100px;}
  #mapBox > h3 {width:110px; height: 30px;margin-bottom: 30px; 
  line-height:30px; font-size:18px; background-color:#0080e6; 
  color:#fff; font-weight:normal; text-align:center;}


  .map_img {width:90%; height: 300px; background-image:url("../../../../../img/aboutBox/map.png"); background-position:center; background-size:contain; margin: auto; margin-bottom:50px;}


  #mapBox > address {width:100%; height: auto; font-style:normal; margin: auto; display: block;}

  .c_address {width:auto; height:80px; margin-top:8%; margin-left: 5%;}
  .c_address > dt {width:100%; height:20px; margin-bottom: 20px; font-size: 18px;}

  .c_address > dd {width:auto; height:20px; font-size:14px; float: left; margin-right: 20px;}

}