/*ci_pc.css*/

@media screen and (min-width:1367px) {

#ciBox {padding-top:300px; padding-bottom:70px; width: 100%; height: auto; background-color:#fff;}
  .ci_img {width: 620px; height: 280px; margin: auto;
  background-image:url("../../../../../img/aboutBox/ci_img.jpg");
  background-repeat:no-repeat; background-size:100%;}


  #ciBox h3 {width: 210px; height: 35px; text-align:center; line-height:35px; margin: auto; font-size:20px;}
  
  .ci_content {width: 680px; height: 165px; margin: auto;
    margin-top: 40px; box-sizing:border-box; padding:1rem;}

  .ci_content > dt {width: 100%; height:auto; text-align:center;font-size:18px;}
  .ci_content > dd {width: 100%; height:auto; text-align:center;
    margin-top: 30px; color:#666;}

}