/*vision_pc.css*/
@media screen and (min-width:769px) and (max-width:1366px){

#visionBox {height:auto; padding-top:240px; background-color:#fff;}

#visionBox h3 {width: 90px; height:30px; text-align:center; line-height:30px; margin: auto; font-size:22px;}


.ideology_area {width:100%; height:auto; margin: auto; padding-top:5%; padding-bottom: 5%;}
.ideology_area > dl {width:28%; height:100%; float: left; text-align:center; margin-left:4%; margin-top:30px;}
.ideology_img {width: 200px; height: 200px; border-radius:100%;background-size:150%; margin: auto;}


.ideology_area > dl > dt {width: 100%; height: 50px; line-height:50px; margin-top: 30px; font-size: 18px;}
.ideology_area > dl > dd {width: 100%; height:auto; margin-top:30px;}


.vision_area {width: 100%; height:58.565154vw; /*800px;*/
min-height:570px; background-color:#fff;}
.vision_img {width: 100%; height:54.904832vw; /*750/1366*100*/ 
background-image:url("../../../../../img/aboutBox/visionBox.png");
background-position:center;}

.vision_content {width: 0; height: 0; overflow: hidden;}

}
