@media screen and (min-width:481px) and (max-width:768px) {


	#brandBox_2 {padding:3rem; overflow:hidden;}
	#brandBox_2 > h3 {font-size:20px; width:190px; height:30px; 
	background-color:#0080e6; color:#fff; text-align:center;
	line-height:30px;}

	.brand_content_2 {width:100%; height:auto; overflow: hidden; margin-top:2rem;}
	.brand_img_2 {width: 200%; height:220px;}
	.brand_img_2 > li {width:50%; height: 100%; float:left;}
	
	.brand_area_2 {width: 200%; height: auto; }
	.brand_2 {width: 50%; height: auto; float:left; margin-top: 20px;}
	.brand_2 > dt {width: 100%; margin-top: 20px; font-size: 20px;}
	.brand_2 > dd {width: 100%; margin-top: 30px; font-size: 18px;}
	.brand_2 > dd:last-of-type {display: none;}
	

	.putto_img {background-size:cover;}
}