@media screen and (max-width:480px) {

	#brandBox_2 {padding: 1.5rem; overflow:hidden;}
	#brandBox_2 h3 {font-size:18px; width:180px; height:26px; background-color:#0080e6; color:#fff; text-align:center; line-height:26px; font-weight: normal;}

	.brand_content_2 {width:100%; height:auto; padding-top:2rem; overflow: hidden; }
	.brand_img_2 {width: 200%; height:220px; float:left;}
	.brand_img_2 > li {width:50%; height: 100%; float:left;}
	
	.brand_area_2 {width: 200%; height: auto; background-color:#acf;}
	.brand_2 {width: 50%; height: auto; float:left;}
	.brand_2 > dt {width: 100%; margin-top: 20px; font-size: 18px;}
	.brand_2 > dd {width: 100%; margin-top: 20px; font-size: 15px;}
	.brand_2 > dd:last-of-type {display: none;}
	
	.putto_img {background-size:cover;}

}