@media screen and (min-width:1367px) {

    /*공통*/

  #brand_wrap {position:relative;}
  
  .b_tab_text {width: 1100px; height: auto; margin: auto;}
  #brandBox_1 {width:100%; height: auto; box-sizing:border-box; padding-top: 2rem; overflow:hidden;}

  .brand_tab {width:60%; height:40px; border-bottom:1px solid #0080e6; margin: auto;
    margin-top: 6%;}
  .brand_tab > li {float:left; width:200px; height:40px; text-align:center; line-height:40px; margin-right: 3%;}
  .brand_tab > li:first-child {margin-left:5%; width: 230px;}
  

  .brand_tab > li > a {color:#666; font-size:18px;}

  .brand_tab > li.select {background-color:#0080e6;
  border-top-right-radius:1rem; border-top-left-radius:1rem;}
  .brand_tab > li.select > a {color:#fff;}


  #brandBox_1 > h3 {display: none;}


  #brandBox_1 > ul {box-sizing:border-box; padding:1rem 2rem;
   width:80%; height:auto; margin: auto; margin-top: 2rem; font-size:17px;}
  #brandBox_1 > ul > li {position:relative; float: left; text-align:center; width: 150px; height:30px; line-height:30px; font-size: 18px;}
  #brandBox_1 > ul > li:after {margin-right: 0;}
  

  /*brand_content_1*/

  .brand_content_1 {width:80%; height: auto; background-color:#fff; margin: auto; margin-top: 4rem; overflow: hidden;}

  .brand_img_1 {width:800%; height:350px; margin: auto;}
  .brand_img_1 > li {width: 12.5%; height: 100%; float: left;}
  
  .logo_wrap {width: 310px; height: 80px; margin: auto; margin-top:8%; overflow: hidden;}
  .logo_img {width: 800%; height: 100%;}
  .logo_img > li {width: 12.5%; height: 100%; float: left;}


  /*brand_area_1*/

  .brand_area_1 {width: 800%; height: auto;}
  .brand_1 {width: 12.5%; height:auto; float: left; text-align:center; }
  .brand_1 > dt {font-size:22px; margin-top:8%;}
  .brand_1 > dd {width:60%; height: auto; font-size:18px; margin: auto; margin-top:10%;}

  .brand_btn {display: block; width:140px; height: 34px; background-color:#0080e6; border-radius:2rem; margin: auto; margin-top: 8%; margin-bottom: 8%;}
  .brand_btn > a {color:#fff; font-size:15px;}
  
 
}